@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Lato:wght@300&family=Oswald&display=swap');

/* Main view set up */

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'IBM Plex Serif', serif;
    margin: 0;
}

/* header and footer */

header {
    text-align: center;
    height: 50px;
    margin-bottom: 20px;
    letter-spacing: 5px;
}



.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px; 
    text-align: center;
}

.control {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    width: 80px;
    height: 40px;
}

#flex-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#flex-container div {
    margin: 20px;
}

.player {
    background-color: rgb(193, 250, 188);
    float: left;
    width: 300px;
    height: 300px;
}

.computer {
    background-color: rgb(157, 251, 251);
    width: 300px;
    height: 300px;
}

#image-container {
    background-color: white;    
    width: 300px;
    height: 300px;
    padding-top: 30px;
}

#image-container img {
    max-width: 100%;
    max-height: 100%;
}

#makechoice-heading p {
    margin-top: 20px;
}

#choices {
    width: 400px;
    height: 80px;
    background-color: rgb(221, 197, 244);
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

#choices img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    position: relative;
    width: 72%;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    bottom: 0;
    box-sizing: border-box;
    min-width: 80px;
    text-align: center;
    color: rgb(145, 5, 5);
    background-color: bisque;
    padding-top: 3px;
    padding-bottom: 4px;
}

footer h4 {
    margin: -1px;
}
footer p {
    margin: -1px;
}



